* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-image: url(./img/c-dustin-91AQt9p4Mo8-unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.wrapper {
  height: 100%;
  margin: auto;
  max-width: 1200px;
}

.header-menu {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
}

.header-button {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-right: 48px;
  padding: 8px 0px;
}

.header-button:hover {
  border-bottom: 2px solid white;
}

.header-button:last-child {
  margin-right: 0;
}

.header-content {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 800px;
}

.content-title {
  color: white;
  font-size: 90px;
  margin-bottom: 100px;
}

.content-button {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 18px 58px;
}

.content-button:hover {
  color: white;
  background-color: rgb(42, 42, 42);
}

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-content {
  width: 600px;
}

.about-title {
  font-size: 64px;
  font-weight: 700;
}

.about-info {
  margin-top: 20px;
  margin-bottom: 70px;
}

.about-button {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 18px 58px;
}

.about-button:hover {
  background-color: rgb(41, 41, 41);
}

.projects {
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
  padding-top: 100px;
}

.projects-title {
  font-size: 80px;
  color: white;
  text-align: center;
}

.pojects-photos {
  display: flex;
  gap: 10px;
  margin-top: 80px;
}

.projects-photo {
  text-align: center;
  width: 100%;
}

.projects-photo > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.projects-text {
  color: white;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
}

.projects-buttons {
  text-align: center;
  margin-top: 60px;
}

.projects-button {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 18px 60px;
}

.projects-button:hover {
  color: white;
  background-color: rgb(42, 42, 42);
}

.services {
  height: 100vh;
}

.services-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.services-left {
  width: 400px;
}

.services-title {
  font-size: 60px;
}

.services-text {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 18px;
}

.services-button {
  display: inline-block;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 18px 58px;
}

.services-button:hover {
  background-color: rgb(41, 41, 41);
}

.services-right {
  font-size: 30px;
  list-style: none;
}

.item-number {
  font-size: 56px;
  margin-right: 20px;
  font-weight: 700;
}

.services-item {
  font-size: 36px;
  margin-bottom: 30px;
}

.services-item:last-child {
  margin-bottom: 0;
}

.careers {
  height: 100vh;
  background-image: url(./img/lei-jiang-csPvbh_E1uc-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.careers-conteiner {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.careers-content {
  width: 380px;
}

.careers-title {
  font-size: 60px;
}

.careers-text {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 18px;
}

.careers-button {
  display: inline-block;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 18px 58px;
}

.careers-button:hover {
  background-color: rgb(42, 42, 42);
}

.bottom {
  height: 50vh;
  background-color: black;
}

.bottom-conteiner {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.bottom-logo {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
}

.adress {
  color: white;
  width: 200px;
  font-weight: 400;
  margin-bottom: 80px;
}

.contacts {
  color: white;
  width: 200px;
  font-weight: 400;
}